testX/force-app/main/default/flows/testSL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>testSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testSL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>account_to_contact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get</name>
        <label>get</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>account_to_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>United</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>account_to_contact</name>
        <label>account to contact</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>create_contact</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Contact</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OtherCity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get[$EachItem].ShippingCity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LastName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>Text({!get[$EachItem].Industry}) &amp; &quot; Clone&quot;</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
